.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.card {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  padding: 20px;
}

.title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 25px;
}

.block {
  margin-bottom: 25px;
}

.warning {
  font-size: 12px;
  color: #b00;
  margin-top: 8px;
}

.saveBtn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
