.profile {
  padding: 20px;
  margin-bottom: 60px;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .infoRow {
    margin-bottom: 20px;

    .infoCard {
      text-align: center;

      .infoLabel {
        font-weight: 500;
        margin-bottom: 8px;
      }

      .infoValue {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .idCard {
    text-align: center;
    margin-bottom: 20px;
  }

  .buttonRow {
    button {
      margin-bottom: 10px;
    }
  }
}
