.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: solid 2px black;
  height: 80px;
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  color: white;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 700px;
  height: 70px;
  border-radius: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px); /* moves up */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
