.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #2a5298, #1e3c72);
  color: white;
  border-top: 2px solid black;
  user-select: none;
  z-index: 999; /* чтобы не перекрывался */
  box-sizing: border-box; /* чтобы border не ломал ширину */
  padding-bottom: env(safe-area-inset-bottom); /* важно для iPhone */
}
.navbar {
  width: 700px;
  height: 70px;
  border-radius: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px); /* moves up */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
  }
}
