.slotContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.slotsRow {
  display: flex;
  gap: 15px;
}

.reel {
  width: 80px;
  height: 80px;
  overflow: hidden;
  background: #111;
  border-radius: 12px;
  border: 3px solid #444;
}

.reelInner {
  display: flex;
  flex-direction: column;
  transition: transform 1.5s ease-out;
}

.item {
  height: 80px;
  width: 80px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Анимация вращения */
.spin {
  animation: spin 1.5s ease-out;
}

@keyframes spin {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1600px); // 20 фруктов * 80px
  }
}

.spinBtn {
  background: #ffcc00;
  border: none;
  font-size: 22px;
  padding: 12px 30px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  font-weight: bold;

  &:disabled {
    background: #aaa;
  }
}

.info {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  color: white;
}

.lastWin {
  margin-top: 5px;
  font-size: 16px;
  color: gold;
}

.winMessage {
  font-size: 26px;
  font-weight: bold;
  color: gold;
  animation: glow 1s infinite alternate;
  margin-top: 10px;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px gold;
  }
  100% {
    text-shadow: 0 0 20px gold;
  }
}
