.container {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}

.card {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
}

.title {
  font-size: 26px;
  margin-bottom: 20px;
  font-weight: 600;
}

.block {
  margin-bottom: 25px;
}



.amountList {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  width: 366px;
}

.amountItem {
  padding: 12px 18px;
  background-color: #f3f3f3;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;


}

.active {
  background-color: #1677ff;
  color: white;
}




.radio {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.smallInputs {
  margin-top: 10px;
  display: flex;
  gap: 10px;
}

.warning {
  color: #b00;
  font-size: 12px;
  margin-top: 10px;
}

.cardInfo {
  padding: 15px;
  background: #fafafa;
}

.desc {
  font-size: 14px;
  color: #555;
}

.submit {
  width: 100%;
  margin-top: 20px;
}
