.game {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;

    .coin {
      width: 50px;
      height: 50px;
      margin-right: 14px;
    }

    .score {
      color: white;
      text-align: center;
      user-select: none;
      font-weight: 800;
      font-size: 36px;
    }
  }

}

.circle {
  position: relative;

  img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 16px 0px rgba(138, 143, 254, 0.05);
    transition: transform 0.2s ease;
    --tiltX: 0deg;
    --tiltY: 0deg;
    transform: rotateX(var(--tiltX)) rotateY(var(--tiltY));
  }

  .floating {
    position: absolute;
    color: #eccf12;
    font-size: 24px;
    font-weight: 700;
    pointer-events: none;
    transform: translate(-50%, -50%);
    animation: floatUp 0.8s ease-out forwards;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  }
}

@keyframes floatUp {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(-40px);
  }
}
