.marketCard {
  height: 400px;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  }

  .ant-card-meta-title {
    font-weight: 600;
    font-size: 16px;
  }
}

.marketImg {
  height: 290px;
  object-fit: cover;
  width: 100%;
  border-radius: 30px;
}

.marketDesc {
  font-size: 14px;
  color: #555;
}

.marketContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 51px;
  flex-direction: column;
}
